.settings-page {
    width: 90%;
  padding: 20px;
  border: 0.5px solid #e5e7eb;
  border-radius: 16px;
    background-color: #ffffff;
}

.settings-page h4 {
    font-size: 16px;
    color: #111827;
    font-weight: 500;
}

.settings-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 15px;
}
