.home-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  height: auto;
}

.middle-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.right-column {
  width: 30rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) {
  .home-container {
    flex-direction: column;
  }
  
  .right-column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-container {
    gap: 1rem;
  }
  
  .middle-column {
    gap: 1rem;
  }
}